################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/FBDE.NETCORE.API/FileContentIndex
/.vs/FBDE.NETCORE.API/v17/.suo
/FBDE.Helpers/bin/Debug/net6.0/FBDE.Helpers.dll
/FBDE.Helpers/obj/Debug/net6.0/FBDE.Helpers.pdb
/FBDE.Helpers/obj/Debug/net6.0/FBDE.Helpers.GeneratedMSBuildEditorConfig.editorconfig
/FBDE.Helpers/obj/Debug/net6.0/FBDE.Helpers.dll
/FBDE.Helpers/obj/Debug/net6.0/FBDE.Helpers.assets.cache
/FBDE.Helpers/bin/Debug/net6.0/FBDE.Helpers.pdb
/FBDE.Helpers/obj/project.nuget.cache
/FBDE.Helpers/obj/FBDE.Helpers.csproj.nuget.dgspec.json
/FBDE.POC.API/bin/Debug/net6.0/FBDE.POC.API.pdb
/FBDE.POC.API/bin/Debug/net6.0/FBDE.POC.API.dll
/FBDE.POC.API/bin/Debug/net6.0/FBDE.Helpers.pdb
/FBDE.POC.API/bin/Debug/net6.0/FBDE.Helpers.dll
/FBDE.POC.API/obj/Debug/net6.0/FBDE.POC.API.GeneratedMSBuildEditorConfig.editorconfig
/FBDE.POC.API/obj/Debug/net6.0/FBDE.POC.API.dll
/FBDE.POC.API/obj/Debug/net6.0/FBDE.POC.API.csproj.AssemblyReference.cache
/FBDE.POC.API/obj/Debug/net6.0/FBDE.POC.API.assets.cache
/FBDE.POC.API/obj/project.nuget.cache
/FBDE.POC.API/obj/project.assets.json
/FBDE.POC.API/obj/FBDE.POC.API.csproj.nuget.dgspec.json
/FBDE.POC.API/obj/Debug/net6.0/FBDE.POC.API.pdb
/FBDE.POC.API/obj/Debug/net6.0/FBDE.POC.API.genruntimeconfig.cache
/.vs
/FBDE.POC.API/obj/Debug/net6.0/ref/FBDE.POC.API.dll
/FBDE.POC.API/obj/Debug/net6.0/refint/FBDE.POC.API.dll
/.vs/FBDE.NETCORE.API/DesignTimeBuild/.dtbcache.v2
/FBDE.Helpers/obj/Debug/net6.0/ref/FBDE.Helpers.dll
/FBDE.Helpers/obj/Debug/net6.0/refint/FBDE.Helpers.dll
